<!doctype html>
<html>
    <head>
        <title>UET Reference Implementation Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../public/stylesheets/style.css">
    </head>

<body>
<script type="text/javascript">
     var uetq = uetq || [];
</script>

<h1>UET Reference Implementation Page </h1>
<p>This is a example web page showing different UET functionality for Bing Ads, it is a live example companion of code discussed in <a href="https://msdn.microsoft.com/en-us/library/bing-ads-universal-event-tracking-uet-tags-analytics-scripts.aspx">MSDN: Managing Analytics with Universal Event Tracking </a> 

</p> 

<h1>Enabling and setting up UET </h1>
<p>This reference webpage is even more useful if you consider using the bing tag manager which is a chrome extension that tells you whether you have correctly configured UET on your webpage. You should enter the below script in every html file you wish to track, it doesn't matter whether it's in the &lt head &gt or &lt body &gt. In fact this website actually has a working UET tag, come on fire up your chrome dev tools to check it out!


<script>
    (function(w, d, t, r, u) {
        var f, n, i;
        w[u] = w[u] || [], f = function() {
            var o = {

                /*
                This is the tag ID 
                which you need to obtain from the 
                BingAds UI
                */
                
                ti: "4014070"
            };
            o.q = w[u], w[u] = new UET(o), w[u].push("pageLoad")
        }, n = d.createElement(t), n.src = r, n.async = 1, n.onload = n.onreadystatechange = function() {
            var s = this.readyState;
            s && s !== "loaded" && s !== "complete" || (f(), n.onload = n.onreadystatechange = null)
        }, i = d.getElementsByTagName(t)[0], i.parentNode.insertBefore(n, i)

        /*
        //bat.bing.com/bat.js what makes it possible to track goal events

        uetq is a global array to track events
        each time an event occurs, a log of that event is pushed onto the uetq array (this makes it trivial to see if events are being fired, see how many you expect to be fired then see what the length of uetq is, take the difference and that's how many goals are not working)
            If the goal exists within the bing ads UI then you can just monitor the changes to
            uetq to see if events are properly being loaded


        You can even define your own events by pushing things 
        such as 

        
        */

    })(window, document, "script", "//bat.bing.com/bat.js", "uetq");
</script>

<p>'bat.bing.com/bat.js' what makes it possible to track goal events. Take special note of the uetq array, all events that are triggered are pushed into a global uetq array. You may rename it but if it does not exist one will be created for you. Therefore a simple way to sanity check whether your custom events are being tracked is checking to see how many events were triggered and then take the difference with the number of custom events that you have set up. If the difference is 0 then all your tags are working correctly. After the events are being pushed to the global uetq array you can just check if the w array is non-empty, if it is then congrats you are now tracking goals using UET. </p>

<h1>Using Javascript to capture events related to a goal </h1>
<p>
We still need to talk about custom events. Any interaction with your webpage that triggers an event can be pushed to the uetq queue. As example suppose we want to capture a button click event, we can have the button trigger an event to the uetq queue.
</p>

<!-- <xmp>
<button onclick="uetq.push({ 'ec':'Video', 'ea':'Play', 'el':'Product Demo', 'ev':'5' });">Play</button>
</xmp> -->


<button onclick="uetq.push({ 'ec':'Video', 'ea':'Play', 'el':'Product Demo', 'ev':'5' });">Play</button>

<h1>Custom Goal values </h1>
You can also create custom goal values by pushing a 'gv' key and a goal value to the uetq global array. The value can be any javascript expression. As an example below we are adding a computeDiscount goal.

<script>
function computeDiscount(discount, price) {
    return price - (discount / 100)* price;
}
uetq.push({'gv':computeDiscount(40,100)});

</script>


</body>
</html>